
<div style="display: flex; justify-content: center;">
    <form [formGroup]="loginForm" (ngSubmit)="authenticate()">
        <table>
            <tr>
                <mat-form-field>
                    <mat-label>Email</mat-label>    
                    <input matInput formControlName="username">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </tr>
            <tr>
                <mat-form-field>
                    <mat-label>Password</mat-label>    
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-hint align="end">Minimum 3 characters</mat-hint>
                </mat-form-field>
            </tr>
            <tr>
                <div *ngIf="loginForm.invalid else elseblock">
                    <button mat-raised-button color="" type="button">LOGIN</button>
                </div>
                <ng-template #elseblock>
                    <button mat-raised-button color="accent" type="submit">LOGIN</button>
                </ng-template>
            </tr>
        </table>
    </form>
    <br>
</div>